/* Default Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

body {
  font-family: "Arimo", sans-serif;
}

/* Header Starts here */
header {
  background-color: #ee2e24;
  color: white;
  padding: 10px 0;
}
header .intro {
  width: 20%;
}

header .news {
  width: 80%;
}

/* header ends here */
/* nav starts here */
nav {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
nav .logo {
  width: 30%;
}
nav .menu {
  width: 70%;
}

nav .menu ul {
  text-align: right;
}

nav .menu ul li {
  display: inline-block;
  padding: 25px;
}

nav .menu ul li a {
  color: #444;
  transition: 0.3s;
}

nav .menu ul li:hover a {
  color: #e52c23;
}

nav .menu ul li:last-child {
  background-color: #ee2e24;
}

nav .menu ul li:last-child a {
  color: white;
}

/* nav ends here */

/* banner starts */

#banner img {
  width: 100%;
}
/* banner ends */
/* about starts */
#about {
  padding: 40px 0;
}
#about img {
  width: 100%;
}

#about .about_img {
  width: 40%;
}
#about .about_text {
  width: 55%;
}

#about .about_text h2 {
  font-size: 35px;
  font-weight: 600;
  color: #5b6b80;
  margin-bottom: 15px;
}

#about .about_text p {
  font-size: 16px;
  color: #777;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 15px;
}

/* Seminar Schedules */
.seminar h2{
  text-align: center;
  color: #444;
  font-size: 32px;
  font-weight: 400;
  background-color: #dddddda3;
  border-bottom: none;
  padding: .75rem 1.25rem;
  margin-bottom: 30px;
}

.table{
	width: 100%;
	border-collapse: collapse;
  height: 20px;
  justify-content: center;
}

.table td,.table th{
  padding:15px 60px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #49596d;
	color:#ffffff;
  height: 60px;
  
  
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
  line-height: 30px;
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
 
.table tr a{
  color: white;
  background-color: #49596d;
  padding: 15px 35px;
  border-radius: 5px;
  transition: 0.3s;
}

}
/* Seminar Schedules End */
