/* Blog Post Boday */
.blog_post{
    background-color: #ABEBC6;
    color: white;
    width: 400px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 40px auto;
    border-radius: 5px;
    transition: 300ms;
    
}

/* Hover Blog Body */
.blog_post:hover{
    background-color: #F9E79F;
    border-radius: 25px;
}
/* Hover Heading */
.blog_post h1{
    transition: 300ms;
}
/* Blog Post H1 */
.blog_post h1:hover{
    color: #1F3A81;
}
/* Blog Post P tag */
.blog_post p{
    text-align: justify;
    transition: 400ms;
    line-height: 24px;
}

/* Blog Post P Hover */

.blog_post p:hover{
    color: black;
}

/* Blog Post A TAG */

.blog_post a{
    text-decoration: none;
    background-color: #34495E;
    color: white;
    width: 180px;
    height: 28px;
    display: block;
    border-radius: 7px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    margin-top: 30px;
    /* margin: 30px 50px 0px 0px; */
    transition: 500ms;
}

/* Blog Post a hover */

.blog_post a:hover{
    width: 100%;
}